.container-card {
  position: relative;
  display: flex;
}
.card {
  position: relative;
  padding: 10px;
  margin: auto;
}

.card-heading-container-1 {
  width: 500px;
  height: 270px;
  background-color: black;
  position: relative;
  z-index: 2;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.card-heading-container-1 > div {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 2;
  color: white;
  text-align: center;
  margin: auto;
}

.card-heading-container-1 > div > span {
  margin: 20px;
}

.card-heading-container-1 > div > p {
  position: relative;
  width: 30%;
  margin: -7px auto;
  border-radius: 6px;
  padding: 5px;
  background-color: rgba(28, 165, 199, 0.568);
}

.card-heading-container-1 > img {
  position: absolute;
  width: 500px;
  height: 270px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  opacity: 0.4;
  z-index: 2;
}

.card-heading-container-2 {
  width: 500px;
  height: 300px;
  background-color: rgba(21, 154, 187, 0.288);
  position: absolute;
  top: 30%;
  left: 10%;
  display: flex;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.card-heading-container-2 > img {
  width: 90px;
  height: 90px;
  border-radius: 60%;
  bottom: 0%;
  margin: 10px 30px;
  position: absolute;
}

.info-writer {
  position: absolute;
  bottom: 4%;
  left: 20%;
  margin: 10px 30px;
  display: flex;
  flex-direction: column;
}
